@font-face {
  font-display: optional;
  font-family: 'effra';
  src: url('~@blibli/dls/src/assets/fonts/effra_std_rg-webfont.woff')
      format('woff'),
    url('~@blibli/dls/src/assets/fonts/effra_std_rg-webfont.ttf')
      format('truetype');
}
